/*
	Theme Name: Oddbods
	Theme URI: http://html5blank.com
	Description: Custom theme based on HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Bionic, Todd Motto (@toddmotto)
	Author URI: http://wearebionic.com/, http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
	font-size: 62.5%;
}

body {
	font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #444;
}

/* clear */
.clear:before,
.clear:after {
	content: ' ';
	display: table;
}

.clear:after {
	clear: both;
}

.clear {
	*zoom: 1;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

a {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #444;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

input:focus {
	outline: 0;
	border: 1px solid #04A4CC;
}

html {
	width: 100%;
	height: 100%;
	background: #FFF url(/wp-content/themes/oddbods/img/background.jpg) top center;
	background-size: auto 100%;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width: 1280px;
	width: 95%;
	margin: 0 auto;
	position: relative;
}

/* header */
.header {

}

/* logo */
.logo {
	margin-top: 5px;
}

.logo-img {
	margin: 0 auto;
	display: block;
}

/* nav */
nav.MainMenu {
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 200;
	overflow: auto;
}

nav.MainMenu a {
	display: inline-block;
	outline: none;
}

nav.MainMenu a.first-item {
	float: left;
}

nav.MainMenu a.last-item {
	float: right;
}

nav.MainMenu img {
	display: block;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/

/**
 * WATCH HERE PAGE
 */
div.video-container {
	position: relative;
	z-index: 100;
}

div.video-container img {
	/* has inherited max-width: 100%*/
}

div.video-holder {
	position: absolute;
	background-color: black;
	box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
	display: none;
}

div.video-holder iframe {
	width: 100%;
	height: 100%;
}

/**
 * PLAY GAME PAGE
 */

div.game-container {
}

div.game-background {
	position: relative;
	margin: 0 auto;
	background: url(/wp-content/themes/oddbods/img/game-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}

div.game-background img {
	display: none;
	position: absolute;
	top: 0;
	z-index: 50;
	width: 100%;
	height: auto;
}

div.game-holder {
	padding: 20px 20px;
	height: 100%;
	width: 100%;
	z-index: 150;
}

div.game-holder iframe {
	width: 100%;
	height: 100%;
	background-color: black;
	box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
}

/**
 * BUY PAGE
 */

div.buy-container-mobile {
	position: relative;
	max-width: 596px;
	margin: 0 auto;
	margin-top: 33px;
	padding: 0 10px;
	background: top center url('/wp-content/themes/oddbods/img/where-to-buy-mobile-bg.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

div.buy-container-mobile div.buy-content {
	position: relative;
	background-color: white;
	box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
	margin: 10px 20px;
	padding: 0 10px;
	padding-bottom: 15px;

	z-index: 100;
	font-size: 12px;
	color: black;
}

div.buy-container-mobile img.promotion-logo {
	margin: 5px 0;
	width: 85%;
}

div.buy-container-mobile div.promotion-title,
div.buy-container-mobile div.promotion-dates {
	font-size: 14px;
	font-weight: 400;
}

div.buy-container-mobile div.promotion-content,
div.buy-container-mobile div.promotion-dates {
	margin-top: 15px;
}

div.buy-container-mobile img.promotion-logo,
div.buy-container-mobile div.promotion-title,
div.buy-container-mobile div.promotion-content,
div.buy-container-mobile div.promotion-dates {
	margin-left: 8px;
	margin-right: 8px;
}

div.buy-container-mobile div.buttons button {
	padding: 0 10px;
	padding-top: 15px;
}

div.buy-container-mobile div.buttons button {
	margin: 10px 0;
}

div.buy-container-desktop {
	background: url(/wp-content/themes/oddbods/img/buy-bg.png);
	margin: 0 auto;
	width: 1176px;
	height: 692px;
	margin-top: -45px;
	display: none;
}

div.buy-container-desktop div.col-left,
div.buy-container-desktop div.col-right {
	position: relative;
	width: 575px;
	height: 620px; /* left col top position is where the yellow bg image top is*/
	float: left;
	overflow: hidden;
}

div.buy-container-desktop img.promotion-image {
	width: auto;
	height: auto;
}

div.buy-container-desktop div.col-right {
	float: right;
	margin-top: 55px;
	height: 565px;
	color: black;
	font-size: 22px;
	padding-right: 20px;
}

div.buy-container-desktop img.promotion-logo {
	height: 180px;
	width: auto;
	margin-top: 27px;
}

div.buy-container-desktop div.promotion-title {
	margin-top: 18px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 300;
}

div.buy-container-desktop div.promotion-content {
	margin-top: 22px;
	font-size: 20px;
	line-height: 25px;
}

div.buy-container-desktop div.promotion-dates {
	margin-top: 30px;
	font-size: 20px;
}

div.buy-container-desktop button.promotion {
	position: absolute;
	bottom: 13px;
}

div.buy-container-desktop button.promotion.toys {
	left: 10px;
}

div.buy-container-desktop button.promotion.where {
	left: -10px;
}

button.promotion {
	margin-top: 10px;
	padding: 0;
	border: 0;
	width: 100%;
	background: none;
	outline: none;
}

button.promotion > span {
	display: none;
}

button.promotion.toys {
	/*
	background: #3facfc url(/wp-content/themes/oddbods/img/button-toys.png);
	background-size: contain;
	background-repeat: no-repeat;
	*/
}

/**
 * TOYS RANGE LIGHTBOX
 */

div.toys-range-lightbox {
}

div.lightbox-content {
	background: white;
	border: 3px solid #3facfc;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

div.toys-range-lightbox div.images-swiper {
	margin: 1px;
	width: 100%;
	height: 100%;
	padding: 3px;
}

div.featherlight-content div.lightbox-content .owl-carousel {
	position: relative;
	max-height: 700px;
	overflow: hidden;
}

div.featherlight-content div.owl-controls.clickable {
	position: absolute;
	top: 45%;
	width: 100%;
}

div.featherlight-content div.owl-controls.clickable div.owl-buttons div.owl-prev,
div.featherlight-content div.owl-controls.clickable div.owl-buttons div.owl-next {
	width: 30px;
	height: 30px;
	background: none;
	display: block;
	padding: 0;
	margin: 0 15px;
	border-radius: 0;
}

div.featherlight-content div.owl-controls.clickable div.owl-buttons div.owl-prev {
	float: left;
	background: url(/wp-content/themes/oddbods/img/swiper-button-prev.png);
}

div.featherlight-content div.owl-controls.clickable div.owl-buttons div.owl-next {
	float: right;
	background: url(/wp-content/themes/oddbods/img/swiper-button-next.png);
}

div.toys-range-lightbox div.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	padding: 1px 1px;
	text-align: center;
}

div.toys-range-lightbox div.menu button {
	display: inline-block;

	flex-grow: 1;

	padding: 4px;
	border: 0;
	outline: none;

	height: 30px;

	background: #3facfc;
	color: white;

	float: left;
	border-right: 1px solid white;

}

div.toys-range-lightbox div.menu button.last {
	border-right: 0px;
}

div.toys-range-lightbox div.menu button.active,
div.toys-range-lightbox div.menu button:hover,
div.toys-range-lightbox div.menu button:active {
	background: #da2128;
}

/**
 * Retailers LIGHTBOX
 */
div.retailers-lightbox {
	max-width: 705px;
	height: auto;
}

div.retailers-lightbox img.oddbods-logo {
	display: block;
	margin: 20px auto;
}

/*
div.retailers-lightbox div.retailers {
	padding: 20px;
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
}

div.retailers-lightbox div.retailer {
	width: 220px;
	display: inline-block;
	padding: 20px;
}
*/

div.retailers-lightbox div.retailer img {
}

/**
 * Game Screen mobile landcape overlay - game should be hidden in landcape
 */
div.landscape-rotate-graphics {
	display: none;
}

/**
 * FeatherLitebox setup
 */
.lightbox {
	display: none;
}

/* sidebar */
.sidebar {

}

/* footer */
.footer {

}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {

	.logo-img {
		margin: 0 auto;
		display: block;
		max-width: 80%;
	}

	body.home-page nav.MainMenu,
	body.page-id-8 nav.MainMenu {
		margin-top: -15px;
	}

	body.page-id-10 nav.MainMenu {
		margin-top: 10px;
	}

	nav.MainMenu a img {
		width: 90px;
		height: 90px;
	}

	.swiper-container.homepage {
		height: auto;
		width: 300px;
		margin-right: auto;
		margin-left: auto;
		margin-top: -10px;
	}

	div.video-container {
		margin-top: -10px;
	}

	div.game-container {
		margin-top: 10px;
	}

	div.buy-container-desktop {
		display: none;
	}

	div.retailers-lightbox {
		padding: 10px;
	}

	div.retailers-lightbox img.oddbods-logo {
		max-width: 140px;
		display: block;
		margin: 10px auto;
	}

	span.featherlight-close-icon.featherlight-close {
		right: 20px;
		top: 20px;
	}

	div.retailers-lightbox div.retailers {
		padding: 5px;
		max-width: 500px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	div.retailers-lightbox div.retailer {
		width: 110px;
		display: inline-block;
		padding: 8px;
	}

	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	body.page-id-10 .footer {
		position: relative;
		width: 100%;
		margin-top: 10px;
	}

	.footer a {
		display: block;
		margin: 10px auto;
		width: 150px;
	}

	div.buy-container-mobile div.promotion-title,
	div.buy-container-mobile div.promotion-dates {
		font-size: 18px;
		font-weight: 400;
	}

	div.buy-container-mobile div.promotion-content {
		font-size: 14px;
	}

	div.buy-container-mobile div.promotion-content,
	div.buy-container-mobile div.promotion-dates {
		margin-top: 22px;
	}

}

@media only screen and (min-width: 375px) {

	.swiper-container.homepage {
		height: auto;
		width: 350px;
	}

	nav.MainMenu a img {
		width: 110px;
		height: 110px;
	}
}

@media only screen and (min-width: 400px) {

	.swiper-container.homepage {
		height: auto;
		width: 380px;
		margin-top: -15px;
	}

	nav.MainMenu a img {
		width: 120px;
		height: 120px;
	}

	/* retailers lightbox */
	div.retailers-lightbox {
		padding: 20px;
	}

	div.retailers-lightbox img.oddbods-logo {
		max-width: 140px;
		display: block;
		margin: 10px auto;
	}

	span.featherlight-close-icon.featherlight-close {
		right: 15px;
		top: 15px;
	}

	div.retailers-lightbox div.retailers {
		padding: 5px;
		max-width: 500px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	div.retailers-lightbox div.retailer {
		width: 150px;
		display: inline-block;
		padding: 8px;
	}

	div.toys-range-lightbox div.menu button {
		font-size: 15px;
	}

	.footer {
		position: relative;
	}
	.footer a{
		float: right;
		margin-right: 15px;
	}
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 600px) {

	.swiper-container.homepage {
		height: auto;
		width: 550px;
	}

	div.toys-range-lightbox div.menu button {
		font-size: 20px;
	}

	div.buy-container-mobile div.promotion-title,
	div.buy-container-mobile div.promotion-dates {
		font-size: 30px;
		font-weight: 400;
	}

	div.buy-container-mobile div.promotion-content {
		font-size: 24px;
		line-height: 29px;
	}

	div.buy-container-mobile div.promotion-content,
	div.buy-container-mobile div.promotion-dates {
		margin-top: 22px;
	}

}

@media only screen and (min-width: 768px) {

	.logo-img {
		max-width: 100%;
	}

	nav.MainMenu a img {
		width: 160px;
		height: 160px;
	}

	body.home-page nav.MainMenu,
	body.page-id-8 nav.MainMenu {
		margin-top: -30px;
	}

	nav.MainMenu {
		max-width: 650px;
	}

	.swiper-container.homepage {
		height: auto;
		width: 680px;
		margin-top: -20px;
	}

	div.video-container {
		margin-top: -30px;
	}

}

@media only screen and (min-width: 800px) and (min-height: 600px) {

}

@media only screen and (min-width: 1024px) {

	.swiper-container.homepage {
		height: auto;
		width: 800px;
		margin-top: -15px;
	}

	nav.MainMenu {
		max-width: 820px;
	}

	nav.MainMenu a img {
		width: 200px;
		height: 200px;
	}

	body.home-page nav.MainMenu,
	body.page-id-8 nav.MainMenu {
		margin-top: -35px;
	}

	.swiper-container.homepage {
		margin-top: -35px;
	}

	div.video-container {
		margin-top: -30px;
	}

	/* retailers lightbox */
	div.retailers-lightbox {
		padding: 0;
	}

	div.retailers-lightbox img.oddbods-logo {
		max-width: 100%;
		margin: 20px auto;
	}

	span.featherlight-close-icon.featherlight-close {
		right: 10px;
		top: 10px;
	}

	div.retailers-lightbox div.retailers {
		padding: 20px;
		max-width: 500px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	div.retailers-lightbox div.retailer {
		width: 220px;
		display: inline-block;
		padding: 20px;
	}

}

/**
 * Here we switch the buy page from mobile to desktop vies
 * Desktop Kicks in!
 */
@media only screen and (min-width: 1140px) {

	.swiper-container.homepage {
		height: 662px;
		width: auto;
	}

	nav.MainMenu {
		margin-top: -60px;
	}

	.logo {
		margin-top: 25px;
	}

	div.buy-container-mobile {
		display: none;
	}

	div.buy-container-desktop {
		display: block
	}

	div.retailers-lightbox {
		min-width: 705px;
	}

	.footer {
		float: right;
	}
}

@media only screen and (min-width: 1280px) {
	nav.MainMenu a img {
		width: 269px;
		height: 269px;
	}

	body.home-page nav.MainMenu,
	nav.MainMenu {
		max-width: 1250px;
		margin-top: -50px;
	}
}

/* Landscape, hiding game */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 800px)
and (orientation: landscape) {

	/*   */
	div.landscape-rotate-graphics {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1000;
		top: 0;
		left: 0;
		display: block;
	}

	div.landscape-rotate-graphics img {
		width: 100%;
		height: auto;
	}

	body.page-id-10 div.wrapper,
	body.page-id-10 .footer {
		display: none;
	}
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow: none;
}

::-webkit-selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow: none;
}

::-moz-selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #FFF;
	border: 1px solid #F0F0F0;
	max-width: 96%;
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.sticky {

}

.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
